<app-navbar></app-navbar>
<br>
<br>
<div #main class="main-view dark">
    <div class="play-time" *ngIf="!(userName==='')">
     <h4 translate>timeSpentPlaying</h4><h4>{{this.timeSpentPlaying}}s</h4>
    </div>
    
    <h4 translate class="title">Hi</h4>
    <h4 class="title" *ngIf="!isGuest">{{userName}}</h4>
    <h4 translate class="title">Title</h4>
    <br>
    <br>
    <div class="card text-white bg-primary mb-3 inline" style="left: 1%; max-width: 18rem;">
    <img class="card-img-top" src="assets/sun.jpg" alt="Card image cap">
    <div translate class="card-header">Weather</div>
    <div class="card-body">
        <h5 translate class="card-title">{{temperature}} C&#176;</h5>
        <p translate class="card-text">WeatherDetails</p>
    </div>
    </div>
    <div class="card text-white bg-secondary mb-3 inline" style="left: 10%;max-width: 18rem;">
    <img class="card-img-top" src="assets/time.jpg" alt="Card image cap">
    <div translate class="card-header">TimeTitle</div>
    <div class="card-body">
        <h5 translate class="card-title">{{dayTime | date: "HH:mm"}}</h5>
        <p translate class="card-text">TimeDetails</p>
    </div>
    </div>
    <div class="card text-white bg-success mb-3 inline" style="left: 20%;max-width: 18rem;">
    <img class="card-img-top" src="assets/joke.jpg" alt="Card image cap">
    <div translate class="card-header">Joke</div>
    <div class="card-body">
        <p translate class="card-title">JokeTitle</p>
        <p translate class="card-text">JokeDetails</p>
    </div>
    </div>
</div>
