.inline{
    float: left;
    margin-top: 10px;
    margin-left: 10em;
}
.title {
    font-size: 4em;
    text-align: center;
    color: #333333;
}
.play-time {
    position: absolute;
    z-index: 1;
    float: left;
    top: 0%;
}
