<app-navbar></app-navbar>
<h1 class="text-center"><font font-family="Impact">WELCOME IN KULKI GAME</font></h1>
<br>
<br>
<br>

<div class="card text-white bg-primary mb-3 inline" style="max-width: 18rem;">
<img class="card-img-top" src="assets/sun.jpg" alt="Card image cap">
<div class="card-header">Weather</div>
<div class="card-body">
    <h5 class="card-title">22 C&#176;</h5>
    <p class="card-text">On Mercury</p>
</div>
</div>
<div class="card text-white bg-secondary mb-3 inline" style="max-width: 18rem;">
<img class="card-img-top" src="assets/time.jpg" alt="Card image cap">
<div class="card-header">Time</div>
<div class="card-body">
    <h5 class="card-title">It's 10:22 AM</h5>
    <p class="card-text">From beginning of the universe</p>
</div>
</div>
<div class="card text-white bg-success mb-3 inline" style="max-width: 18rem;">
<img class="card-img-top" src="assets/joke.jpg" alt="Card image cap">
<div class="card-header">Get Ready For A Joke</div>
<div class="card-body">
    <h5 class="card-title">The Joke</h5>
    <p class="card-text">What's the best thing thing about UDP jokes?
        I don't care if you get them</p>
</div>
</div>
