
$kulkaSize: 60px;
$fieldSize: 60px;
$boardHeight: 660px;
$boardWidth: 700px;
$futureKulkaHeight: 90px;
$futureKulkaWidth: 80 * 3px;
.light {
    background-color: lightgoldenrodyellow;
}
.dark {
    background-color: darkslategrey;
}
.beige {
    background-color: antiquewhite;
}

.main-view {
    position: absolute;
    height: 100%;
    width: 100%;
}
.nav-button {
    :hover{
        transition: all 0.5s ease;
        background-color: #aaaaaa
    }
    margin-left: 3em;
}

