.inline{
    float: left;
    margin-top: 10px;
}
.basic{
    background-color: antiquewhite;
    border: 3px;
    border-style: groove;
    border-color: bisque;
    height: 830px;
    width: 880px;
}