@import '../../styles.scss';

.inline{
    float: left;
    margin-top: 10px;
}
.basic{
    background-color: antiquewhite;
    border: 3px;
    border-style: groove;
    border-color: bisque;
    height: $boardHeight;
    width: $boardWidth;
}
.futureKulkas {
    height: $futureKulkaHeight;
    width: $futureKulkaWidth;
    right: 50%;
    margin: 20px;
    margin-left: 290px;
}
.buttons-view {
    position: absolute;
    right: 10%;
    top: 40%;
}
.result {
    position: absolute;
}