@import '../../styles.scss';

.circle{
    position: absolute;
    height: $kulkaSize;
    width: $kulkaSize;
    border-style: solid;
    .red{
        background-color: red;
    }
    .green{
        background-color: green;
    }
    .blue{
        background-color: blue;
        :hover{
            transition: all 0.5s ease;
            background-color: #aaaaaa
        }
    }
    .noColor{
        background-color: aqua;
    }
    border-radius: 50%;
}