@import '../../styles.scss';

.circle{
    position: absolute;
    height: $kulkaSize;
    width: $kulkaSize;
    border-style: solid;
    .red{
        background-color: red;
    }
    .green{
        background-color: green;
    }
    .blue{
        background-color: blue;
    }
    .noColor{
        background-color: aqua;
    }
    border-radius: 50%;
}